body {
  background: url("../src//images/background.svg") no-repeat;
  background-size: cover;
  padding: 4%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* overflow-x: hidden; */
}

body::-webkit-scrollbar {
  display: none;
}
